/**
* global color
*/

color-notice = #FF6B6B
color-info = #FF8800

/**
 * scrollbar
 */

// scrollbar size
scrollbar-width = 10px
scrollbar-height = 10px
scrollbar-radius = 12px

// scrollbar color
scrollbar-thumb-color = rgba(125, 125, 125, 0.7)
scrollbar-track-color = rgba(0, 0, 0, 0.2)

